.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  .page-item {
    flex-basis: 5%;
    &.active {
      background: green;
    }
    a {
      cursor: pointer;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background: #3630bf;
  padding: 20px;
  margin-bottom: 50px;
  a {
    color: white;
    text-decoration: none;
  }
}